/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Header */
  .header {
    background-color: #F2F8FD;
    padding: 20px;
  }
  
  .restaurant-name {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 20px;
  }
  
  /* Input Section */
  .input-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .inputs {
    margin: 0 10px;
  }
  
  input[type="number"],
  input[type="text"],
  select {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 200px;
  }
  
  /* Submit Button */
  .submit-button-div {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .submit-button {
    background-color: #FF8C00;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Order Lists */
  .order-lists {
    display: flex;
    justify-content: space-around;
  }
  
  .table-1-list-div,
  .table-2-list-div,
  .table-3-list-div {
    flex: 1;
    background-color: #F9FAFB;
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  .table-1-list-div {
    margin-right: 10px;
  }
  
  .table-3-list-div {
    margin-left: 10px;
  }
  
  .table-1-list-div,
  .table-2-list-div,
  .table-3-list-div h2 {
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 10px;
  }
  
  /* Delete Buttons */
  .delete-buttons {
    background-color: #FF4C4C;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 6px 10px;
    font-size: 12px;
    cursor: pointer;
  }
  
